<script>
export default {
  name: 'GeoSettingsApp',
};
</script>

<template>
  <article data-testid="geoSettingsContainer">
    <h3 class="page-title">{{ __('Geo Settings') }}</h3>
  </article>
</template>
